annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
certifi==2026.2.25
click==8.3.1
colorama==0.4.6
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.111.0
fastapi-cli==0.0.7
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.27.0
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
linkify-it-py==2.1.0
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdit-py-plugins==0.5.0
mdurl==0.1.2
orjson==3.11.7
packaging==26.0
platformdirs==4.9.6
pluggy==1.6.0
psutil==5.9.8
pydantic==2.7.1
pydantic_core==2.18.2
Pygments==2.19.2
pytest==8.2.0
python-dotenv==1.2.2
python-multipart==0.0.22
PyYAML==6.0.3
rich==15.0.0
rich-toolkit==0.19.7
shellingham==1.5.4
sniffio==1.3.1
starlette==0.37.2
textual==8.2.3
typer==0.12.3
typing_extensions==4.15.0
uc-micro-py==2.0.0
ujson==5.11.0
uvicorn==0.29.0
watchfiles==1.1.1
websockets==16.0
